<div class="modal-content">
    <i class="close right material-icons">close</i>
    <h3>to add or reassign members</h3><br><br>

    <div class="row">
        <%= render 'prompt' %>
    </div>
</div>

