<div id="prompt">
    <div class="col s6 center">
        <i id="add_prompt" class="large material-icons">
            add_circle
        </i>
        <div class="row">
            <h4 class="modal-text">
                <br>add a new visitor or member<br>to this discussion group
            </h4>
        </div>
    </div>

    <div class="col s6 center">
        <i id="reassign_prompt" class="large material-icons">
            swap_horiz
        </i>
        <div class="row">
            <h4 class="modal-text">
                <br>
                reassign any member to a<br>different discussion group
                <br><br>
                activate an inactive member
            </h4>
        </div>
    </div>
</div>