<div id="create_member_modal">
    <%= simple_form_for @memberDg do |f| %>
        <div class="row">
            <div class="col s6"> 
                <%= f.input :member_id, collection: @members %>
            </div>
            <div class="col s6"> 
                <%= f.input :discussionGroup_id, label: 'Discussion group', collection: @dgs %>
            </div>
        </div>
        <div class="row">
            <div class="col s5 offset-s7"> 
                <br>
                <%= f.submit 'Add to discussion group', class: 'btn' %>
            </div>
        </div>
    <% end %>
</div>