<div id="acf-login" class="col s2">
    <div id="acf-logo">
        <a href="/">
            <h1>asian</h1>
            <h1>christian</h1>
            <h1>fellowship</h1>
        </a>
    </div>
    <br>
    <ul id="nav">
        <%= link_to 'Login', login_path %>
    </ul>
</div>