<footer class="page-footer">
  <div class="footer-copyright">
    <div class="black-text container">
    © 2018 Alina Yu, Eunice Cheng, Jennifer Huang, Matthew Fang, Shanice Lam, Tiffany Chen
    </div>
  </div>
</footer>